:root {
  --fallout: radial-gradient(circle, rgba(245, 180, 192, 1) 0%, rgba(247, 220, 196, 1) 35%, rgba(238, 246, 169, 1) 100%);
  --moonlight: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  --contentPaddingX: 10rem;
  --contentPaddingY: 4rem;
  --text-font: 'Anonymous Pro';
  --mobile: 70rem;
}

.theme-dark {
  --backgroundColor: var(--moonlight);
  --bubbleBgColor: #0d3252;
  --textColor: white;
  --textShadow3D: 0 1px 0 #1e1e1e, 0 2px 0 #1a1a1a, 0 3px 0 #302e2e, 0 4px 0 #1e1c1c, 0 5px 0 #000000, 0 6px 1px rgb(0 0 0 / 13%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}

.theme-light {
  --backgroundColor: var(--fallout);
  --bubbleBgColor: #fff3a0b0;
  --textColor: black;
  --textShadow3D: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Anonymous Pro', monospace;
  scroll-behavior: smooth;
}

.site-container {
  background: var(--backgroundColor);
  color: var(--textColor);
  padding: 1rem;
}

@media (min-width:1024px) {
  .site-container {
    padding: 0 var(--contentPaddingX);
  }
}

/** box comic style */
.box {
  background: var(--bubbleBgColor);
  /* // first value was tranaparent*/
  border: solid black;
  border-color: black;

}

.box-transform {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  overflow: hidden;
}

.pixel-art {
  border-radius: 0;
  box-shadow: -15px 0 0 0 black,
    15px 0 0 0 black,
    0 -15px 0 0 black,
    0 15px 0 0 black;
}